{% extends 'web/base.html' %}
{% load static %}
{% block content %}

    <section class="about-header">
    </section>

    <section class="about-visi">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h5><u>Target Kami</u></h5>
                    <p>Menjadi salah satu penyedia jasa layanan pemasangan pemanas air matahari yang bergengsi dan terdepan di tanah air kita</p>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                    <img src="{% static 'web/img/target.png'%}" class="img-fluid" alt="target">
                </div>
            </div>
        </div>
    </section>

    <section class="about-misi">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="{% static 'web/img/about-misi.jpeg'%}" class="img-fluid" alt="target">
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                    <h5><u>Visi Kami</u></h5>
                    <p>Melakukan penghematan energi melalui teknologi energi baru terbarukan demi menjaga bumi kita yang asri ini untuk generasi yang akan datang</p>
                    
                </div>
            </div>
        </div>
    </section>
    
    <section class="about-value">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h5><u>Nilai Kami</u></h5>
                    <p>Kami bekerja dengan menerapkan integritas yang tinggi. Melakukan yang jujur, transparan, dan dapat dipercaya</p>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                    <img src="{% static 'web/img/value.png'%}" class="img-fluid" alt="target">
                </div>
            </div>
        </div>
    </section>

    <section class="profil-perusahaan">
        <div class="container">
            <h3><u>Profil Perusahaan</u></h3>
        <p>Perusahaan kami berpengalaman dibidang solar water heater sejak 1987. Kami mempunyai visi mulia bahwa kita harus menghemat energi demi menjaga lingkungan yang hijau yang akan kita wariskan kepada anak cucu kita di kemudian hari. Kami percaya bahwa energi terbarukan (renewable energy) seperti sinar matahari adalah kunci untuk mengurangi/meringankan krisis energi dan berperan sangat vital dalam usaha memerangi pemanasan global.
            ARIANE adalah kulminasi pengalaman dan wujud dari visi kami tersebut. Kami menjelajah pabrik di banyak negara maju untuk mendapatkan teknologi mutakhir, mutu bahan berkualitas – sehingga Ariane identik dengan teknologi mutahir, mutu bahan berkualitas, dan ramah lingkungan.</p>
            <br>
        <p>
        </p>
        <p>ARIANE Solar Water Heater adalah pemanas air bertenaga matahari yang gratis dan ramah lingkungan, di dukung kualitas yang tinggi dengan jaminan sertifikat seperti ISO 9001, ISO 14001, CE certification, Solar SRCC certification dll.
            ARIANE Solar Water Heater diproduksi dengan standart kualitas yang tinggi, tangki penyimpanan air (holding tank) yang bertekanan (pressurized) terbuat dari bahan stainless steel 316L yang sangat terkenal anti karat dan dibalut dengan insulasi PUF yang tebal untuk meminimalkan heat-loss di malam hari. Sedangkan solar collector-nya tersedia dalam 2 macam yaitu heat evacuated tube (vacuum tube) solar collector dan copper tube flat solar collector.
            ARIANE Heat Pump Water Heater adalah teknologi mutakhir dalam penyedia air panas. Ariane heat pump water heater hanya memerlukan sedikit listrik untuk menghasilkan energi panas yang berlipat ganda. Sehingga tidak salah bila Ariane heat pump water heater termasuk yang paling 'cost-effective' dan tidak tergantung sinar matahari – sangat cocok untuk kebutuhan air panas dalam skala besar seperti hotel, apartment, kolam renang, rumah sakit, fitness center, spa, restaurant, dan lain-lain.
            ARIANE Water Heater yang memakai solar energy maupun heat pump tersedia model compact (intregrated) dan split.
            Dan apapun tipe Ariane water heater pilihan anda, kami pastikan anda akan puas dengan jaminan produk kualitas yang tinggi, ramah lingkungan, dan layanan purna jual yang kompeten dan sigap melayani anda.
            Setiap ARIANE Solar Water Heater bergaransi 5 tahun dan ARIANE Heat Pump unit bergaransi 2 tahun.</p>
        </div>  
    </section>

    <section class="about-kontakt-banner">
    </section>
    
    <section class="about-kontakt-text">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3><u>Kantor dan Showroom</u></h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p><i class="fas fa-address-book pe-3"></i>Toko Kaweha</p>
                    <p><i class="fas fa-city pe-3"></i>Jl. Baliwerti no 46 Surabaya</p>
                    <p><i class="fas fa-tty pe-3"></i>+6231-5343457</p>
                </div>
            </div>
        </div>
    </section>


{% endblock %}