{% extends 'web/base.html' %}
{% load static %}
{% block content %}

    <section class="our-partner-text">
        <div class="container">
            <h3>Find Our Partners</h3>
            <div class="row pt-4">
                <div class="col">
                    <h4 class="text-center fw-bold"><u>Kontakt</u></h4>
                </div>
            </div>
            <div class="row pt-4 pb-4">
                <div class="col pb-1">
                    <p><i class="fas fa-address-book pe-3"></i>Perdana Electronics</p>
                    <p><i class="fas fa-city pe-3"></i>Jl. Jendral Sudirman no 120 Surabaya</p>
                    <p><i class="fas fa-tty pe-3"></i>+6231-5353526</p>
                </div>
                <div class="col pb-1">
                    <p><i class="fas fa-address-book pe-3"></i>Perdana Electronics</p>
                    <p><i class="fas fa-city pe-3"></i>Jl. Jendral Sudirman no 120 Surabaya</p>
                    <p><i class="fas fa-tty pe-3"></i>+6231-5353526</p>
                </div>
                <div class="col pb-1">
                    <p><i class="fas fa-address-book pe-3"></i>Perdana Electronics</p>
                    <p><i class="fas fa-city pe-3"></i>Jl. Jendral Sudirman no 120 Surabaya</p>
                    <p><i class="fas fa-tty pe-3"></i>+6231-5353526</p>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col pb-1">
                    <p><i class="fas fa-address-book pe-3"></i>Perdana Electronics</p>
                    <p><i class="fas fa-city pe-3"></i>Jl. Jendral Sudirman no 120 Surabaya</p>
                    <p><i class="fas fa-tty pe-3"></i>+6231-5353526</p>
                </div>
                <div class="col pb-1">
                    <p><i class="fas fa-address-book pe-3"></i>Perdana Electronics</p>
                    <p><i class="fas fa-city pe-3"></i>Jl. Jendral Sudirman no 120 Surabaya</p>
                    <p><i class="fas fa-tty pe-3"></i>+6231-5353526</p>
                </div>
                <div class="col pb-1">
                    <p><i class="fas fa-address-book pe-3"></i>Perdana Electronics</p>
                    <p><i class="fas fa-city pe-3"></i>Jl. Jendral Sudirman no 120 Surabaya</p>
                    <p><i class="fas fa-tty pe-3"></i>+6231-5353526</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}