{% extends 'web/base.html' %}
{% load static %}
{% block content %}
    <section class="project-header">
    </section>

    <section class="project-text">
        <div class="container">
            <p class="text-start">Proyek-proyek kami sudah tersebar di seluruh Nusantara. Mulai dari Sumatera sampai ke Papua. Di bawah ini adalah contoh-contoh proyek kami untuk pemanas air matahari dan heatpump dari sektor residential dan commercial.</p>
        </div>
    
    </section>

    <section class="project-perumahan">
      <div class="container">
        <h3 class="text-center fw-bold">Residential Projects</h3>
      </div>
    </section>

    <section class="project-residential-list">
        <div class="container">
            <div class="row pb-5">
                <div class="col">
                    <div class="card" style="width: 18rem; ">
                        <img src="{% static 'web/img/proyek-mojosari.jpg'%}" class="card-img-top" alt="...">
                        <div class="overlay">
                          <div class="text">Mojosari Pasuruan</div>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'web/img/proyek-pjiwo.jpg'%}" class="card-img-top" alt="...">
                        <div class="overlay">
                          <div class="text">Panjang Jiwo Surabaya</div>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'web/img/proyek-pherman.jpg'%}" class="card-img-top" alt="...">
                        <div class="overlay">
                          <div class="text">Pakuwon City Surabaya</div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row pb-5">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'web/img/proyek-pasuruan.jpg'%}" class="card-img-top" alt="...">
                        <div class="overlay">
                          <div class="text">Pasuruan Jawa Timur</div>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'web/img/proyek-nganjuk.jpg'%}" class="card-img-top" alt="...">
                        <div class="overlay">
                          <div class="text">Nganjuk Jawa Timur</div>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'web/img/project1.jpg'%}" class="card-img-top" alt="...">
                        <div class="overlay">
                          <div class="text">Citraland Surabaya</div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row pb-5">
              <div class="col">
                  <div class="card" style="width: 18rem; ">
                      <img src="{% static 'web/img/proyek-anthony.jpg'%}" class="card-img-top" alt="...">
                      <div class="overlay">
                        <div class="text">Surabaya, Jawa Timur</div>
                      </div>
                    </div>
              </div>
              <div class="col">
                  <div class="card" style="width: 18rem;">
                      <img src="{% static 'web/img/proyek-heni.jpg'%}" class="card-img-top" alt="...">
                      <div class="overlay">
                        <div class="text">Surabaya, Jawa Timur</div>
                      </div>
                    </div>
              </div>
              <div class="col">
                  <div class="card" style="width: 18rem;">
                      <img src="{% static 'web/img/proyek-sumo.jpg'%}" class="card-img-top" alt="...">
                      <div class="overlay">
                        <div class="text">Malang, Jawa Timur</div>
                      </div>
                    </div>
              </div>
          </div>
            
        </div>
    </section>

    <section class="project-hotel">
      <div class="container">
        <h3 class="text-center">Commercial Projects</h3>
      </div>
    </section>

    <section class="project-commercial-list">
      <div class="container">
        <div class="row pb-5">
          <div class="col">
              <div class="card" style="width: 18rem;">
                  <img src="{% static 'web/img/proyek-dt.jpg'%}" class="card-img-top" alt="...">
                  <div class="overlay">
                    <div class="text">Double Tree by Hilton Surabaya</div>
                  </div>
                </div>
          </div>
          <div class="col">
              <div class="card" style="width: 18rem;">
                  <img src="{% static 'web/img/project2.jpg'%}" class="card-img-top" alt="...">
                  <div class="overlay">
                    <div class="text">Nava Hotel Tawangmangu Solo</div>
                  </div>
                </div>
          </div>
          <div class="col">
              <div class="card" style="width: 18rem;">
                  <img src="{% static 'web/img/proyek-cw.jpg'%}" class="card-img-top" alt="...">
                  <div class="overlay">
                    <div class="text">The Voila Apartment Ciputra World Surabaya</div>
                  </div>
                </div>
          </div>
      </div>
      <div class="row pb-5">
        <div class="col">
            <div class="card" style="width: 18rem; ">
                <img src="{% static 'web/img/proyek-atm.jpg'%}" class="card-img-top" alt="...">
                <div class="overlay">
                  <div class="text">Spa, Surabaya Jawa Timur</div>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'web/img/proyek-kos.jpg'%}" class="card-img-top" alt="...">
                <div class="overlay">
                  <div class="text">Kos-kosan Surabaya, Jawa Timur</div>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'web/img/proyek-elyon.jpg'%}" class="card-img-top" alt="...">
                <div class="overlay">
                  <div class="text">Elyon Christian School,Surabaya</div>
                </div>
              </div>
        </div>
    </div>
      </div>

    </section>
{% endblock%}